@page
@model IndexModel
@{
    
    /*
        Property
    */
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hola, Razor (HTML)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@System.DateTime.Now.ToShortDateString() </p>
</div>